/******************** Ignore everything between here and line 21.  Not required *******************/
@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }
ol, ul { list-style: none }
header, nav, article, aside, footer, hgroup, section { display: block }

/***************************** Ignore everything ABOVE.  Not required ****************************/





/******************************************************************************************/
/************************************ GENERAL FORMATTING **********************************/
/******************************************************************************************/

html {background-color: #CF5300;}						/*HINT - background color of site set here*/

body {
		width: 960px;
		margin: 0 auto;
		color: black;									/*HINT - here we set the text color of site*/
		font: 14px/18px Times New Roman;
		text-align: justify;
	 }

p { margin-bottom: 18px}


h1 {
	font: 22px/22px Times New Roman;
	margin-bottom: 5px;
	color: #CF5300;										/*HINT - here we set the heading color of site*/
	font-weight: bold;
}

h2 {
	font: 22px/22px Times New Roman;
	margin-bottom: 5px;
	color: white;
}

strong { font-weight: bold }
em { font-style: italic }


/* sets text color and size for all hyperlinks on page */
a { color: black;
	font: 14px/16px Times New Roman;}
a:hover { border-bottom: 1px solid #940033 }
a:active { border-bottom: 2px solid #940033 }






/*********************************************************************************/
/************************************ HEADER *************************************/
/*********************************************************************************/
header { margin: 5px 5px 2px 2px}

header h1 {
	font: 35px "Times New Roman";
	color: black;							/*HINT - This is where you change webpage title color */
    text-align: center; 
}

header h2 {
	font: 14px/20px "Times New Roman";
	color: black;							/*HINT - This is where you change quote color */
	text-align: center; 
}






/*********************************************************************************/
/*********************************** BODY ****************************************/
/*********************************************************************************/
#content  {
	background: white;  							/*background color in body portion*/
	padding: 20px;   								 
	border-radius: 15px 15px 15px 15px;				/*rounded edges*/
	-moz-border-radius: 15px 15px 15px 15px;		/*rounded edges - FIREFOX*/
	-webkit-border-radius: 15px 15px 15px 15px;		/*rounded edges - SAFARI & CHROME*/
	
}

#content h3 {
	color: black;							/*HINT - This is where you change quote color */
	text-align: center; 
	font: 14px/16px Times New Roman;
}

#content img { 
	margin-left: 80px;										/* index pictures left x pixels*/
	box-shadow: inset 1 -35px 35px -18px #005b79; 			/* shadowing for pictures*/
	-moz-box-shadow: inset 1 1 10px rgba(50, 50, 50, 0.5);	/* shadowing for pictures - MOZILLA*/
	-webkit-box-shadow: 3px 3px 7px #777;  					/* shadowing for pictures - CHROME*/
}


/* Sets the formatting for the scrolling text at the bottom*/
#scroller {
	font: 20px/20px "Times New Roman";
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

/* Sets the formatting for the links portion*/
.links li {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #fafafa;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;}

/* Slides links text to the right when mouse hovers over link*/
.links li:hover { margin-left: 8px }
.links li a:hover { border: none }




/*********************************************************************/
/***************************** COPYRIGHT *****************************/
/*********************************************************************/
.copyright {
	text-align: center;
	color: white;							/*HINT - This is where you change copyright text color */
	margin: 10px 0 20px;
	clear: both;
}


/* testing style
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#ex1
{
border: thin dotted #FF0000;
}
</style>
<script>
function displayResult()
{
document.getElementById("ex1").style.border="thick solid #0000FF";
}
</script>
</head>
<body>

<div id="ex1">This is some text.</div>
<br>
<button type="button" onclick="displayResult()">Change border</button>

</body>
</html>
*/
 